[Desktop Entry]
Version=1.1
Type=Application
Name=Simple JSON editor
Comment=Simple JSON editor
Icon=applications-other
Exec=/home/user/json-editor
Actions=
Categories=Development;
