[Desktop Entry]
Version=1.1
Type=Application
Categories=Development
Name=JSON Editor
Comment=A simple JSON editor program
Terminal=false
Icon=~/projects/simple-json-editor/build/appicon.png
Exec=~/projects/simple-json-editor/build/bin/json-editor
MimeType=application/json;text/json