[Desktop Entry]
Version=1.1
Type=Application
Name=JSON editor
Comment=JSON editor
Icon=~/projects/simple-json-editor/build/appicon.png
Exec=~/projects/simple-json-editor/build/bin/json-editor
Actions=
Categories=Development;
